body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    /* flex-direction: row; Das ist der Default */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-direction: row;

    /* Jusify-content -> Main axes */
    /* justify-content: flex-start; Das ist der Default; */
    /* justify-content: flex-end; */
    justify-content:center;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: flex-start;
    flex-wrap: wrap; */

    /* Align Items -> Cross axes (can be vertiacl or horicontal)
    Default is Top to Buttom
    */
    /* align-items: flex-start; Default */
    align-items: flex-end;
    align-items: center;
    /* align-items: baseline; */

    /* align-content: center; */
    /* align-self: center; */

    /* flex-grow: 1; */
    /* flex-basis: 600px; */
    /* flex-shrink: 2; */
}

#container div {
    width: 600px;
    height: 200px;
    text-align: center;
}

