body {
    font-family: 'Roboto', sans-serif;
    /* place button in the middle*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    /* 100vh sind  vewv hight units*/
    background-color: #1f1b29;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.15s;
    /* oder transition: color 0.15s, border-color: 0.15s, box-shadow: 0.15s, transform 0.15s;
    everything that comes in hover */
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}

